@import "src/styles/variables";
@import "src/styles/mixins";
.root {
  background-color: $grey-900;
  padding-top: 96px;
  padding-bottom: 148px;
  max-width: 840px;
  margin: auto;
}
.inverted {
  max-width: unset;
  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 228px;
    @include breakpoint("tablet") {
      padding: 56px;
      justify-content: space-between;
    }
    @include breakpoint("tablet") {
      flex-direction: row;
      height: 200px;
    }
  }
  .textWrapper {
    align-items: center;
    justify-content: center;
    @include breakpoint("tablet") {
      align-items: start;
    }
  }
}
.block {
  background-color: $blue-600;
  border-radius: 18px;
  height: 228px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include breakpoint("tablet") {
    height: 328px;
  }
}
.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subheading {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
  @include breakpoint("tablet") {
    font-size: 20px;
    line-height: 32px;
  }
}
.heading {
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin-bottom: 32px;
  text-align: center;
  @include breakpoint("small-mobile") {
    font-size: 24px;
    line-height: 30px;
  }
  @include breakpoint("tablet") {
    text-align: left;
    font-size: 36px;
    line-height: 40px;
  }
}
