@import "src/styles/variables";
@import "src/styles/mixins";
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 96px;
  @include breakpoint("mobile") {
    flex-direction: row;
    padding: 0px 30px 96px 30px;
  }
  @include breakpoint("desktop") {
    padding: 0px;
  }
}
.reverse {
  flex-direction: column;
  @include breakpoint("mobile") {
    flex-direction: row-reverse;
    .content {
      padding-right: 0px;
      padding-left: 50px;
    }
  }
  @include breakpoint("desktop") {
    flex-direction: row-reverse;
    .content {
      padding-right: 0px;
      padding-left: 130px;
    }
  }
}
.content {
  padding: 0px 30px;
  @include breakpoint("mobile") {
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  @include breakpoint("desktop") {
    padding: 0px;
    padding-right: 130px;
    padding-left: 0px;
  }
}
.heading {
  font-size: 26px;
  line-height: 30px;
  color: white;
  padding-bottom: 20px;
  text-align: center;
  @include breakpoint("mobile") {
    text-align: left;
  }
  @include breakpoint("tablet") {
    font-size: 36px;
    line-height: 40px;
  }
}
.subheading {
  font-size: 16px;
  line-height: 28px;
  color: $grey-500;
  text-align: center;
  padding-bottom: 30px;
  @include breakpoint("mobile") {
    text-align: left;
    padding-right: 50px;
  }
  @include breakpoint("desktop") {
    font-size: 20px;
    line-height: 32px;
  }
}
.image {
  width: 100%;
  svg {
    width: 100%;
    max-height: 100%;
  }
}
