@import "src/styles/variables";
@import "src/styles/mixins";
.root {
  background-color: $grey-900;
  border-bottom: 1px solid $grey-600;
  height: 74px;
  display: flex;
  align-items: center;
  @include breakpoint("desktop") {
    height: 104px;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  @include breakpoint("mobile") {
    padding: 0px 80px;
  }
}
.button {
  border: none;
  height: 46px;
  width: 84px;
  cursor: pointer;
  border-radius: 8px;
  background-color: $grey-700;
  color: white;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $grey-600;
  }
  @include breakpoint("desktop") {
    height: 56px;
    width: 94px;
  }
}
